{% extends "layout.html" %}
{% block title %} About me {% endblock %}
{% block content %}
  <div class="col-xs-12">
    <div class="section-container-spacer text-center">
      <h1 class="h2">03 : About me</h1>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h3>Hi there!</h3>
            <p>
              I am a full stack developer with a passion for creating
              complex software solutions.
            </p>
            <h3>What languages do you speak?</h3>
            <p>
              Eventhough I am currently speaking Python (with the help
              of Flask on this website); thanks to JavaScript, I like
              writing poems in Node.js environment. Hopefully, in a few
              weeks, I will be able to speak Java fluently. (<a
                href="https://www.coursera.org/specializations/java-object-oriented">Here</a>
              is how)
            </p>

            <h3>Where did you learn software development?</h3>
            <p>
              Short answer: Google <br />
              Long answer: Google, Udacity, Udemy, Coursera, Edx...
              Google <br />
              And special thanks to Starbucks, Tim Hortons and Kahve
              Dunyasi ('Coffee World' in Turkish) for letting me code
              for hours with only one cup of coffee.
            </p>
          </div>
          <div class="col-xs-12 col-md-5" style="padding: 40px;">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/portfolio-flask.appspot.com/o/profil.jpg?alt=media&token=72b30c0f-3083-4391-889c-f0beed5a901c"
              class="img-responsive" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}