{% extends "layout.html" %}
{% block title%} Songs {% endblock%}
{% block content %}
  <div class="col-xs-12">
    <div class="section-container-spacer text-center">
        <h1 class="h2">05 : Songs</h1>
      </div>

      {% for song in songs %}
        <div class="row">
          <div class="song-container">
              <img class="song-image" src="{{ song.image }}" alt="Picture of a song"></img>
              <div class="row song-info">
                  <h3>{{ song.artist }} - {{ song.name }}</h4>
                  <div>Duration: {{ song.duration/60000 }} minutes</div>
                  <a href="{{ song.href }}" class="song-link">Listen to this song -></a>
              </div>
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock%}