{% extends "layout.html" %}
{% block title %} Work {% endblock %}
{% block content %}
  <div class="col-xs-12">
    <div class="section-container-spacer text-center">
        <h1 class="h2">05 : Songs</h1>
      </div>

      <div class="row">
        <div class="song-container">
            <img class="song-image" src="https://i.scdn.co/image/ab67616d0000b2731d5cf960a92bb8b03fc2be7f" alt="Picture of a song"></img>
            <div class="row song-info">
                <h4>Get Lucky (feat. Pharrell Williams & Nile Rodgers) - Radio Edit</h4>
                <div>{{ 248413/60000 }}</div>
                <a href="" class="song-link">Listen to this song -></div>
            </div>
          
        </div>
      </div>
  </div>
{% endblock%}