{% extends "layout.html" %}
{% block title %}
  Works
{% endblock %}
{% block content %}
  <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
    <div class="text-center">
      <h1 class="h2">02 : Works</h1>
    </div>
  </div>

  <div class="col-md-12" style="margin-top: 120px;">
    <div class="item active">
      <div class="row">
        <div class="col-sm-6">
          <div class="card-container card-container-lg">

            <a href="https://novusoft.nl/" title="" class="black-image-project-hover">
              <img src="static/assets/images/novusoft.png" alt="Novusoft logo" class="img-responsive" />
            </a>
            <h4>001/002</h4>
            <h3>Novusoft</h3>
            <p>
              At Novusoft I worked on developing their for application by making new components, validation and
              testing.
              Furthermore I added some pages to their websites and upgraded their Bootstrap version. Novusoft
              works with C# ASP.NET in combination with Blazor, for styling they also work with sass in some
              occasions.
            </p>
            <a href="https://novusoft.nl/" title="Novusoft" class="btn btn-default">Discover</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-container card-container-lg">
            <a href="https://matching-concepts.nl/" title="" class="black-image-project-hover">
              <img src="static/assets/images/matchingConcepts.png" alt="" class="img-responsive" />
            </a>
            <h4>002/002</h4>
            <h3>Matching concepts</h3>
            <p>
              My first software engineering related internship was at Matching concepts. Here I worked on web development
              using Wordpress with PHP. Furthermore I created a website using Angular and an API with C# using the ASP.NET
              framework.
            </p>
            <a href="https://matching-concepts.nl/" title="" class="btn btn-default">Discover</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}